body {
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1 {
  text-align: center;
  margin-top: 20px;
  height: 80px;
  overflow: hidden;
}

.title {
  font-size: 110px;
  color: #ffffffcc;
  font-weight: 700;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 360px;
}

.btn-wrap button {
  background-color: #f4f7fc;
  padding: 2px 10px;
  line-height: 25px;
  cursor: pointer;
  border: none;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 20px;
  margin-top: 12px;
  box-shadow: 0 2px 2px 0 rgba(27, 27, 27, 0.137);
}

.btn-select {
  background-color: aquamarine;
  border: 1px solid black;
}

.wrap {
  margin: 30px auto;
  padding-bottom: 30px;
  max-width: 550px;
  min-height: 650px;
  border-radius: 10px;
  background-color: #f4f7fc;
  box-shadow: 0 12px 15px 0 rgba(27, 27, 27, 0.24),
    0 17px 50px 0 rgba(27, 27, 27, 0.24);
  position: relative;
}

.input-wrap {
  padding: 30px 40px;
}

.label {
  color: rgba(59, 59, 59, 0.623);
  font-size: 13px;
  margin-left: 50px;
}

#list {
  width: 70%;
  display: block;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 20px auto 40px;
  border: none;
  background: rgba(255, 255, 255, 0.562);
  box-shadow: 0 5px 7px 0 rgba(27, 27, 27, 0.137);
}

.submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 78px;
  right: 100px;
  opacity: 40%;
}

.todo-item {
  width: 450px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-size: 15px;
  outline: none;
  max-width: 300px;
  line-height: 1.5;
}

.item-btn button {
  background: transparent;
  border: none;
  opacity: 70%;
  cursor: pointer;
}

.item-btn button:hover {
  color: rgba(102, 101, 101, 0.788);
}

.todo-count {
  font-size: 12px;
  position: absolute;
  right: 90px;
  top: 140px;
  color: rgba(0, 0, 0, 0.438);
}

.done {
  text-decoration: line-through;
  color: rgb(97, 97, 97);
  opacity: 60%;
}
